<form id="mainform" name="mainform" method="POST" action="lib/save.php">

    <!-- meta info -->
    <input type="hidden" id="recordtable" name="table" value="record">
    <input type="hidden" id="recordpkey" name="pkey" value="recordID">
    <input type="hidden" id="recordafterinsert" name="afterinsert" value="world_records.php">
    <input type="hidden" id="recordafterupdate" name="afterupdate" value="world_records.php">
    <!-- end meta info -->

    <!--security-->
    <input type="hidden" name="csrf" value="@csrf_token@">
    <h2>Record</h2>
    <!--end security-->


    <div class="form-group row">
        <label for="record" class="col-sm-4 col-form-label">Record</label>
        <div class="col-sm-8">
            <input type="text" class="form-control-plaintext" id="record" name="record" value="@record@">
            @record_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="FK_meeteenheidID" class="col-sm-4 col-form-label">Meeteenheid</label>
        <div class="col-sm-8">
            @select_meeteenheid@
            @FK_meeteenheidID_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="worldrecords" class="col-sm-4 col-form-label">Worldrecords</label>
        <div class="col-sm-8">
            <input type="text" class="form-control-plaintext" id="worldrecords" name="worldrecords" value="@worldrecords@">
            @worldrecords_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="FK_plaatsID" class="col-sm-4 col-form-label">Plaats</label>
        <div class="col-sm-8">
            @select_plaats@
            @FK_plaatsID_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="date" class="col-sm-4 col-form-label">Date</label>
        <div class="col-sm-8">
            <input type="date" class="form-control-plaintext" id="date" name="date" value="@date@">
            @date_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="FK_atleetID" class="col-sm-4 col-form-label">Atleet</label>
        <div class="col-sm-8">
            @select_atleet@
            @FK_atleetID_error@
        </div>
    </div>

    <div class="form-group row">
        <label for="FK_sportsID" class="col-sm-4 col-form-label">Sport</label>
        <div class="col-sm-8">
            @select_sports@
            @FK_sportsID_error@
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label"></label>
        <div class="col-sm-8">
            <input type="submit" value="Save">
        </div>
    </div>

</form>